/* ЛОГО */
.logo{
  position: absolute;
left: 120px;
top:  -20px;

}
/*  */
/* НАДПИСЬ "ЭКВИВАЛЕНТ" */
.gradient-all {
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),0px -5px 35px rgba(255,255,255,0.3);


  position: absolute;
  width: auto;
  top: -45px;
  margin: 50px;
  width: 480px;
  left: 195px;
  font-size: 2em;
  background: linear-gradient(135deg, #e800b4 20%, #4e00a3 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  padding: 0.3em 0.6em ;
  border: 0px solid transparent;
  border-image: linear-gradient(135deg, #e800b4 20%, #4e00a3 60%);
  border-image-slice: 1;
}
/* НАДПИСЬ "СИСТЕМА" */
.gradient-all_system {
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),0px -5px 35px rgba(255,255,255,0.3);


  position: absolute;

  top: -15px;
  margin: 50px;
  width: 400px;
  left: 200px;
  font-size: 1.5em;
  background: linear-gradient(135deg, #4e00a3 20%, #5402ff 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  padding: 0.3em 0.6em ;
  border: 0px solid transparent;
  border-image: linear-gradient(135deg, #4e00a3 20%, #5402ff 60%);
  border-image-slice: 1;
}
/* НАДПИСЬ "ПО ПОИСКУ КОНТРАГЕНТА" */
.gradient{
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),0px -5px 35px rgba(255,255,255,0.3);


  position: absolute;
  top: -15px;
  margin: 50px;
  width: 300px;
  left: 290px;
  font-size: 1.5em;
  background: linear-gradient(135deg, #4e00a3 20%, #5402ff 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  padding: 0.3em 0.6em ;
  border: 0px solid transparent;
  border-image: linear-gradient(135deg, #4e00a3 20%, #5402ff 60%);
  border-image-slice: 1;
}
.fig{
  position: absolute;
  left: 0px;
  top: 300px;
}
.text_na_site{
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2),0px -5px 35px rgba(255,255,255,0.3);


  position: absolute;
  width: auto;
  top: 350px;

  width: 500px;
  left: 100px;
  font-size: 4em;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  padding: 0.3em 0.6em ;
  border: 0px solid transparent;
  border-image: linear-gradient(135deg, #e800b4 20%, #4e00a3 60%);
  border-image-slice: 1;

}
